/* #container {
    display: flex;

}   */


/* this is a reminder of whay I am doing */

label {display: flex}
body {
    background-color: rgb(127, 255, 236);
    font-style: italic;
    font-size: large;
}